/*Responsive general */

@media (max-width: 576px) {
  #about {
    display: flex;
    width: 100%;
    margin: auto;
  }
}


@media (max-width: 576px) {
  #elbasural {
    display: flex;
    width: 100%;
    margin: auto;
  }
}


@media (max-width: 576px) {
  #elproyecto {
    width: 100%;
    object-fit: cover;
    margin-top: 60px;
  }
}



@media (max-width: 576px) {
  #propuesta {
    display: flex;
    width: 100%;
    margin: auto;
  }
}



@media (min-width: 107px) and (max-width:360px) {
  .logo {
.logo-img {
    height: 90px;   /* Ajusta según la altura de tu navbar */
    width: auto;    /* Mantiene la proporción */
    display: block;
    z-index: 2;
    margin-right: 160px;
}
  }
}

@media (min-width: 360px) and (max-width:1920px) {
  .logo {
.logo-img {
    height: 90px;   /* Ajusta según la altura de tu navbar */
    width: auto;    /* Mantiene la proporción */
    display: block;
    z-index: 2;
    margin-right: 200px;
}
  }
}

@media (min-width: 768px) and (max-width:1024px) {
  .logo {
.logo-img {
    height: 100px;   /* Ajusta según la altura de tu navbar */
    width: auto;    /* Mantiene la proporción */
    display: block;
    z-index: 2;
    margin-right: 550px;
}
  }
}


