  .video-wrapper {
    max-width: 1000px; /* ancho máximo del contenedor */
    margin: 0 auto;    /* centra horizontalmente */
    aspect-ratio: 16 / 9; /* mantiene proporción moderna */
    width: 100%;
    overflow: hidden;
    border-radius: 8px; /* opcional */
    box-shadow: 0 6px 20px rgba(0,0,0,0.08); /* opcional */
  }

  .video-wrapper iframe {
    width: 90%;
    height: 90%;
    display: flex;
    justify-self: center;
    border: 0;
    display: block;
  }

  